<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Yohann MONNIER</string>
	<key>CFBundleDisplayName</key>
	<string>nambu</string>
	<key>CFBundleIdentifier</key>
	<string>com.greatfruit.nambu</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>nambu.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>nambuprotocol</string>
				<key>Identifier</key>
				<string>nambuprotocol</string>
				<key>Image</key>
				<string>nambu_statusbaricon.png</string>
				<key>Label</key>
				<string>Nambu</string>
				<key>Palette Label</key>
				<string>Nambu</string>
				<key>Tool Tip</key>
				<string>Quick share with Nambu</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Nambu Quick link</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://github.com/YohannsMonnier/Nambu-Safari-Extension</string>
</dict>
</plist>
